* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: #333;
    --bg-white: #552c2c;
}

.Dark {
    background-color: var(--bg-dark);
}

.Light   {
    background-color: var(--bg-white);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    font-size: 40px;
    border: 5px solid green;
    color: purple;
    background-color: yellow;
    padding: 10px 20px;
    box-shadow: 4px 4px black;
}

button:active {
    box-shadow: none;
}

.toggleHidden {
    display: none;
}