* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, section, button {
    transition:
        background-color 0.5s ease,
        color 0.5s ease;

}

:root {
    --bg-dark: #000000;
    --bg-white: #ffffff;
}

.Dark {
    background-color: var(--bg-dark);
    color: white;
}

.Light {
    background-color: var(--bg-white);
    color: #000;
}

.Light Button{
    background-color: var(--bg-dark);
    color: white;
}

.Dark Button{
    background-color: var(--bg-white);
    color: #000;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

section h1 {
    font-size: clamp(2rem, 4vw, 5rem);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -2%;
    line-height: 1;
}

button {
    font-size: clamp(1rem, 2vw, 3rem);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 200;
    border: none;
    outline: none;
}

button:active {
    box-shadow: none;
}

.toggleHidden {
    display: none;
}
